<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALX3a1FnzqKgym33tZv0ZTqpjWST9gbGU</string>
	<key>GCM_SENDER_ID</key>
	<string>570579557528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookshopProject</string>
	<key>PROJECT_ID</key>
	<string>bookshop-project-d621a</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshop-project-d621a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570579557528:ios:b541b834565adaa11884ed</string>
</dict>
</plist>